#bar {
    margin-left: -8px;
    margin-top: 295px;
    padding: 0;
    position: fixed;
    width: 300px;
    height: 250px;
    background-color: #000000;
    /*opacity:0.4;*/

}

#list {
    list-style-type: none; /*list-style-type设置一些不同的列表式样*/
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Comic Sans MS", Times, serif;
    text-align: left;
    overflow: auto;
}

/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #151515;
    color: white;
}

#todo {
    border-radius: 25px;
    position: fixed;
    width: 800px;
    height: 135px;
    z-index: 5;
}

#title {

    position: fixed;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 80px;
    color: white;
    font-family: "Bradley Hand", Times, serif;
    z-index: -1;
}

#subtitle {
    position: fixed;
    margin-top: 100px;
    /*margin-left: 25px;*/
    font-size: 30px;
    color: #E83015;
    font-family: Papyrus, Times, serif;
}

#add {
    position: fixed;
    margin-top: 155px;
    /*margin-left: 30px;*/
    width: 300px;
    height: 60px;
    rows: "2";
    /*cols:"10";*/
    border-radius: 5px;
    font-family: Monaco, Times, serif;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
}

#add_button {
    position: fixed;
    margin-top: 230px;
    margin-left: 200px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-family: Monaco, Times, serif;
    font-size: 15px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
}

.item {
    background-color: black;
margin-top: 5px;
    border: none;
    outline: none;
    resize: none;
    width: 400px;
    height: 30px;
    font-family: Monaco, Times, serif;
    font-size: 25px;
    color: #fcfaf2;
}
